.directions-page {
	padding-top: rem(8);
	padding-bottom: rem(40);

	@media (min-width:$md4) {
		padding-top: rem(4);
		padding-bottom: rem(60);
	}

	// .directions-page__container
	&__container {}

	// .directions-page__heading
	&__heading {
		margin-top: rem(16);

		@media (min-width:$md4) {
			margin-top: rem(48);
		}

		@media (min-width:$md2) {
			margin-top: rem(80);
		}
	}

	// .directions-page__list
	&__list {
		margin-top: rem(32);
		border-top: rem(1) solid rgba(128, 100, 72, 0.35);

		@media (min-width:$md4) {
			margin-top: rem(48);
		}

		@media (min-width:$md2) {
			margin-top: rem(78);
		}
	}

	// .directions-page__item
	&__item {
		border-bottom: rem(1) solid rgba(128, 100, 72, 0.35);

		&:not(.directions-page__item_has-subsections) {
			@media (max-width:$md2) {
				.directions-page__more {
					display: none;
				}
			}
		}

		@media (min-width:$md2) and (any-hover: hover) {

			&:hover,
			&:focus-within {
				.directions-page__title {
					color: #806448;
				}

				.directions-page__more {
					width: auto;
					height: auto;
					padding: rem(8) rem(12);
					border-radius: rem(16);
					color: #fff;
					background: $accent;
					border-color: $accent;
					gap: rem(8);
				}

				.directions-page__more-text {
					display: inline;
				}

				.directions-page__subsections {
					grid-template-rows: 1fr;
					opacity: 1;
					visibility: visible;
					margin-top: 0;
				}
			}
		}

		@media (hover: none) {
			&._open {
				.directions-page__title {
					color: #806448;
				}

				.directions-page__more {
					color: #fff;
					background: $accent;
					border-color: $accent;
				}

				.directions-page__more::before {
					color: #fff;
					transform: rotate(90deg);
				}

				.directions-page__subsections {
					grid-template-rows: 1fr;
					opacity: 1;
					visibility: visible;
					margin-top: 0;
				}
			}
		}
	}

	// .directions-page__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(12);
		min-height: rem(44);
		padding-block: rem(16);

		@media (min-width:$md4) {
			gap: rem(16);
			min-height: rem(84);
			padding-block: rem(14);
		}

		@media (min-width:$md2) {
			min-height: rem(85);
		}
	}

	// .directions-page__title
	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.2;
		color: $accent;
		transition: color 0.3s ease;
		min-width: 0;

		@media (min-width:$md4) {
			font-size: rem(30);
			white-space: nowrap;
		}

		@media (min-width:$md2) {
			font-size: rem(32);
		}
	}

	// .directions-page__more
	&__more {
		flex-shrink: 0;
		width: rem(44);
		height: rem(44);
		padding: 0;
		border-radius: 50%;
		gap: rem(8);
		text-transform: uppercase;
		transition: all 0.3s ease;
		@media (max-width:$md4) {
			margin: -2rem 0;
		}

		&.btn-secondary {
			border-color: transparent;
			color: #432821;
		}

		&::before {
			font-size: rem(20);
		}

		@media (min-width:$md2) and (any-hover: hover) {
			&:hover {
				color: rgba($color: #432821, $alpha: .60);
				background: transparent;
				border-color: rgba($color: #432821, $alpha: .60);

				&::before {
					color: inherit;
				}
			}

			.directions-page__item:hover &,
			.directions-page__item:focus-within & {
				color: #fff;
				background: $accent;
				border-color: $accent;

				&::before {
					color: #fff;
				}
			}
		}
	}

	// .directions-page__more-text
	&__more-text {
		display: none;
		white-space: nowrap;
	}

	// .directions-page__subsections
	&__subsections {
		margin-top: rem(-16);
		display: grid;
		grid-template-rows: 0fr;
		opacity: 0;
		visibility: hidden;
		transition: grid-template-rows 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, margin-top 0.3s ease;
	}

	// .directions-page__subsections-list
	&__subsections-list {
		overflow: hidden;
		padding-bottom: rem(12);
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width:$md4) {
			padding-bottom: rem(16);
		}
	}

	// .directions-page__subsection
	&__subsection {
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	// .directions-page__subsection-title
	&__subsection-title {
		display: inline-block;
		font-weight: 600;
		font-size: rem(16);
		line-height: 1.2;
		color: $accent;
		transform-origin: left center;
		transition: transform 0.3s ease, text-decoration-color 0.3s ease;

		@media (min-width:$md4) {
			font-size: rem(24);
		}

		@media (min-width:$md2) and (any-hover: hover) {
			.directions-page__subsection:hover & {
				text-decoration: underline;
				text-underline-offset: rem(2);
				transform: scale(math.div(26, 24));
			}
		}
	}
}
