.doctors-page {
	padding-top: rem(8);
	padding-bottom: rem(40);

	@media (min-width:$md4) {
		padding-top: rem(4);
		padding-bottom: rem(60);
	}

	// .doctors-page__heading
	&__heading {
		margin-top: rem(32);
		font-size: rem(28);
		line-height: 1.2;

		@media (min-width:$md5) {
			margin-top: rem(64);
		}

		@media (min-width:$md4) {
			margin-top: rem(80);
			font-size: rem(40);
		}
	}

	// .doctors-page__desc
	&__desc {
		margin-top: rem(16);
		max-width: rem(625);
		font-size: rem(14);
		line-height: 1.4;
		color: #271605;

		@media (min-width:$md4) {
			font-size: rem(16);
		}
	}

	// .doctors-page__grid
	&__grid {
		margin-top: rem(32);
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		gap: rem(24);

		@media (min-width:$md4) {
			margin-top: rem(40);
			grid-template-columns: repeat(2, minmax(0, 1fr));
			column-gap: rem(24);
			row-gap: rem(32);
		}

		@media (min-width:$md2) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}