.hero {
    height: rem(848);
    background: #432821;
    color: #fff;
    position: relative;
    z-index: 1;

    // .hero__slider
    &__slider {
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;
    }

    // .hero__slide
    &__slide {}

    // .hero__container
    &__container {
        text-align: center;
        align-content: end;
        min-height: 100%;
    }

    // .hero__offer
    &__offer {
        padding: 2.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 58.375rem;
            height: 75%;
            opacity: 0.9;
            background: rgba($color: #271605, $alpha: .10);
            z-index: 1;
            transform: translateX(-50%);
            pointer-events: none;
            border-radius: 58.375rem;
            filter: blur(rem(150));
            z-index: -1;
        }
    }

    // .hero__title
    &__title {
        max-width: 50rem;

        & span {
            font-weight: 700;
        }
    }

    // .hero__subtitle
    &__subtitle {
        margin-top: 1rem;
        max-width: 39.0625rem;
    }

    // .hero__btn
    &__btn {
        margin-top: 1.5rem;
        max-width: 19.625rem;
        width: 100%;
    }
}


.states {

    // .states__container
    &__container {}

    // .states__list
    &__list {
        margin-top: 2.5rem;
        border-top: rem(1) solid rgba(128, 100, 72, 0.35);
    }

    // .states__item
    &__item {
        padding-block: 1.5rem;
        border-bottom: rem(1) solid rgba(128, 100, 72, 0.35);

        @media (any-hover: hover) {
            &:hover {
                .states__item-title {
                    color: #806448;
                    transform: scale(math.div(1.625, 1.5));
                }

                .states__item-image {
                    opacity: 1;
                }

                .states__item-arrow {
                    color: #fff;
                    background: #432821;
                }
            }
        }
    }

    // .states__item-main
    &__item-main {}

    // .states__item-title
    &__item-title {
        transition: color 0.6s ease-in-out, transform 0.6s ease-in-out;
        color: #432821;
        transform-origin: left center;
    }

    // .states__item-image
    &__item-image {
        width: 13rem;
        height: 12.5rem;
        margin: -3rem 0;
        transition: opacity 0.6s ease-in-out;
        opacity: 0;
    }

    // .states__item-desc
    &__item-desc {}

    // .states__item-chips
    &__item-chips {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    // .states__item-chip
    &__item-chip {}

    // .states__item-arrow
    &__item-arrow {
        margin-left: auto;
        width: rem(44);
        height: rem(44);
        font-size: rem(20);
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #432821;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}


.chip {
    color: rgba($color: #271605, $alpha: .60);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 130%;
    border-radius: 1rem;
    border: 1px solid rgba($color: #271605, $alpha: .60);
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    @media (any-hover: hover) {
        &:hover {
            background-color: #271605;
            border-color: #271605;
            color: #fff;
        }
    }

}



.tagline {


    // .tagline__container
    &__container {}

    // .tagline__text
    &__text {
        max-width: 50.25rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 140%;
        margin: 0 auto;

    }
}