<li class="benefits__item">
    <div class="row">
        <div class="col-lg-6 col-md-4 col-6">
            <div class="benefits__item-image">
                <img src="@@image" class="cover-image" alt="Фото клиники">
            </div>
        </div>
        <div class="col-lg-6 col-md-8">
            <div class="benefits__item-details">
                <div class="benefits__item-title title-sm">
                    @@title
                </div>
                <p class="benefits__item-desc">@@desc</p>
            </div>
        </div>
    </div>
</li>