<a href="@@slug" class="directions__card @@extrasClass">
    <div class="directions__card-poster">
        <img src="@@poster" class="cover-image" alt="Фото услуги">
    </div>
    <div class="directions__card-body">
        <div class="directions__card-name title-sm">@@name</div>
        <div class="directions__card-desc">@@desc</div>
        <div class="directions__card-footer">
            <div class="directions__card-price">от <span>@@price</span> ₽</div>
            <div class="directions__card-more btn btn-secondary btn-sm">Подробнее</div>
        </div>
    </div>
</a>