<a href="" class="doctor-card doctor-card_page @@extrasClass" itemscope itemtype="https://schema.org/Physician">
    <div class="doctor-card__poster">
        <div class="doctor-card__badge">@@expirience</div>
        <img src="@@image" alt="Фото Доктора" itemprop="image">
        <span class="doctor-card__btn chip">Подробнее о&nbsp;враче</span>
    </div>
    <div class="doctor-card__body">
        <div class="doctor-card__name" itemprop="name">@@name</div>
        <div class="doctor-card__desc" itemprop="jobTitle">@@desc</div>
        <div class="doctor-card__actions">
            <span class="doctor-card__btn chip">Подробнее о&nbsp;враче</span>
            <span class="doctor-card__btn doctor-card__btn_book chip">Записаться</span>
        </div>
        <span class="doctor-card__btn doctor-card__btn_desktop chip">Записаться на&nbsp;приём</span>
    </div>
</a>
