<li class="info-list__item info-list__item--plain">
    <div class="row">
        <div class="col-md-6">
            <div class="info-list__item-main">
                <div class="info-list__item-title title-sm">
                    @@title
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-list__item-details">
                @@if(typeof desc !=='undefined'){
                    <p class="info-list__item-desc">@@desc</p>
                }
            </div>
        </div>
    </div>
</li>
