<li class="info-list__item">
    <div class="row">
        <div class="col-md-6">
            <a href="@@if(typeof slug !== 'undefined'){@@slug}" class="info-list__item-main">
                 <div class="info-list__item-title title-sm icon-arrow-right">
                    @@title
                </div>
                @@if(typeof image !=='undefined'){
                    <div class="info-list__item-image">
                        <img src="@@image" class="cover-image" alt="Фото услуги">
                    </div>
                }
            </a>
        </div>
        <div class="col-md-6">
            <div class="info-list__item-details icon-arrow-right">
                @@if(typeof desc !=='undefined'){
                    <p class="info-list__item-desc">@@desc</p>
                }
                @@if(typeof chips !=='undefined'){
                    <ul class="info-list__item-tags">
                        @@for (var i = 0; i < chips.length; i++) {
                            <li class="info-list__item-tag">
                                <a href="`+(chips[i].slug || '#')+`" class="chip">`+chips[i].title+`</a>
                            </li>
                        }    
                    </ul>
                }
                @@if(typeof price !=='undefined'){
                    <div class="info-list__item-price">стоимость <span>@@price</span> ₽</div>
                    <div class="info-list__item-actions">
                        <a href="" class="info-list__item-action btn btn-sm btn-primary">Записаться</a>
                        <a href="@@if(typeof slug !== 'undefined'){@@slug}" class="info-list__item-action btn btn-sm btn-secondary">Подробнее</a>
                    </div>
                }
                @@if(typeof more !=='undefined' && more === true){
                    <div class="info-list__item-actions">
                        <a href="@@if(typeof slug !== 'undefined'){@@slug}" class="info-list__item-action btn btn-sm btn-secondary">Подробнее</a>
                    </div>
                }
            </div>
        </div>
       
    </div>
</li>