<li class="reviews__card swiper-slide">
    <div class="reviews__card-rates">
        <span class="reviews__card-rate icon-star"></span><span class="reviews__card-rate icon-star"></span><span class="reviews__card-rate icon-star"></span><span class="reviews__card-rate icon-star"></span><span class="reviews__card-rate icon-star"></span>
    </div>
    <time datetime="@@datetime" class="reviews__card-time">@@time</time>
    <div class="reviews__card-author">@@author</div>
    <blockquote class="reviews__card-blockquote">@@quote</blockquote>
</li>