<li class="states-program">
    <div class="states-program__main">
        <div class="states-program__head">
            <a href="@@if(typeof slug !== 'undefined'){@@slug}" class="states-program__title">@@title</a>
            <span class="states-program__icon icon-arrow-right" aria-hidden="true"></span>
        </div>
        <p class="states-program__desc">@@desc</p>
        <div class="states-program__price">стоимость <span>@@price</span>&nbsp;₽</div>
        <div class="states-program__actions">
            <a href="" class="states-program__action btn btn-sm btn-primary">Записаться</a>
            <a href="@@if(typeof slug !== 'undefined'){@@slug}" class="states-program__action btn btn-sm btn-secondary">Подробнее</a>
        </div>
    </div>
</li>
