.footer {
    background: #FFF;
    padding: rem(110) 0 0;
    position: relative;

    @media (min-width:$md4) {
        padding: rem(50) 0 0;
    }

    @media (min-width:$md3) {
        padding: 5rem 0 0;

    }

    // .footer__container
    &__container {}

    // .footer__header 
    &__header {
        display: flex;
        --gutter-y: 1.75rem;

        @media (min-width:$md4) {
            --gutter-y: 2.25rem;

        }
    }

    // .footer__main
    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;

        @media (min-width:$md4) {
            order: 0;
            justify-content: space-between;
            flex-direction: row;
            align-items: stretch;
        }

        @media (min-width:$md3) {
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    // .footer__logo
    &__logo {
        width: 100%;
        max-width: rem(126);

        @media (max-width:$md4) {
            position: absolute;
            top: 2.15rem;
            left: 50%;
            transform: translateX(-50%);

        }

        @media (min-width:$md5) {
            max-width: 13.5rem;

        }

        @media (min-width:$md3) {
            padding-block: 1.25rem;
            max-width: 19rem;

        }

        & img {
            width: 100%;
        }
    }

    // .footer__actions
    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (min-width:$md4) {
            width: auto;
            align-items: flex-end;
        }

        @media (min-width:$md3) {
            align-items: stretch;
            margin-top: 2.5rem;

        }
    }

    // .footer__btn
    &__btn {
        @media (max-width:$md5) {
            width: 100%;
        }
    }

    // .footer__socials
    &__socials {

        margin-top: 1.25rem;
        gap: rem(8);

        @media (min-width:$md3) {
            gap: rem(12);
            margin-top: 1.59rem;

        }

        .socials__item {
            font-size: 1.6875rem;
            width: 1.6875rem;
            height: 1.6875rem;
            color: #806448;

            @media (min-width:$md3) {
                font-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: #271605;
                }
            }
        }
    }

    // .footer__license
    &__license {
        font-size: 0.875rem;
        line-height: 120%;
        margin-top: rem(32);
        margin-bottom: rem(32);

        @media (min-width:$md4) {
            margin-bottom: 0;
            margin-top: rem(74);

        }

        @media (min-width:$md2) {
            margin-top: rem(83);

        }
    }

    // .footer__nav
    &__nav {}

    // .footer__nav-caption
    &__nav-caption {
        color: #806448;
        padding-bottom: 0.5rem;
        border-bottom: rem(1) solid rgba($color: #806448, $alpha: .4);
        margin-bottom: rem(16);

        @media (min-width:$md4) {
            margin-bottom: rem(20);

        }
    }

    // .footer__nav-list
    &__nav-list {
        display: grid;
        gap: 0.15rem;
        column-gap: 0.75rem;

        @media (max-width:$md4) {
            grid-template-columns: repeat(2, 1fr);

        }

        @media (min-width:$md4) {
            column-gap: 2rem;

            &.footer__nav-list--large {
                grid-template-columns: repeat(2, 1fr);
            }

        }

    }

    // .footer__nav-item
    &__nav-item {
        &.footer__nav-item--large {
            @media (max-width:$md4) {
                order: 1;
            }
        }
    }

    // .footer__nav-link
    &__nav-link {
        color: rgba($color: #271605, $alpha: 0.8);
        font-size: 0.875rem;
        font-weight: 600;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #806448;
            }
        }
    }

    // .footer__bottom
    &__bottom {
        color: rgba($color: #271605, $alpha: 0.6);
        font-size: 0.75rem;
        line-height: 130%;


        @media (min-width:$md4) {
            margin-top: -2.5rem;

        }

        @media (min-width:$md3) {
            border-top: rem(1) solid rgba($color: #806448, $alpha: .4);
            padding-block: 1rem;
            margin-top: 1.25rem;
        }
    }

    // .footer__bottom-container
    &__bottom-container {
        .row {
            @media (max-width:$md3) {
                flex-direction: column-reverse;
                --gutter-y: 0.25rem;
            }
        }
    }

    // .footer__copyright
    &__copyright {
        @media (max-width:$md3) {
            border-top: rem(1) solid rgba($color: #806448, $alpha: .4);
            padding-block: 1rem;
            margin-top: 0.75rem;
            margin-inline: -1.5rem;
            padding-inline: 1.5rem;
        }
    }

    // .footer__policy
    &__policy {
        text-decoration-line: underline;
        transition: color 0.3s ease;

        @media (max-width:$md3) {
            @media (min-width:$md4) {
                text-align: right;
                display: flex;
                width: fit-content;
                margin-left: auto;

            }
        }

        @media (any-hover: hover) {
            &:hover {
                text-decoration: none;
                color: #806448;
            }
        }
    }
}