.form {
	display: flex;
	flex-direction: column;

	// .form__field
	&__field {
		position: relative;
		display: block;

		&+.form__field {
			margin-top: .875rem;
		}

		&._error {
			.form__error {
				display: block;
			}

		}
	}

	// .form__label
	&__label {
		font-size: 0.875rem;
		line-height: 120%;
		margin-bottom: 0.875rem;
		display: block;
	}


	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		font-size: 1rem;
		line-height: 140%;
		border-radius: 0;
		border: rem(1) solid rgba(128, 100, 72, 0.35);
		border-left: 0;
		border-right: 0;
		border-top: 0;
		background: transparent;
		color: #271605;
		caret-color: $accent;
		padding: 0.5rem 1.5rem;


		&::placeholder {
			color: #271605;
			opacity: 0.6;
		}

		&:focus {
			border-color: $accent;
		}


		&._error {
			border-color: $red;

		}

		&:is(textarea) {
			height: 6.5rem;
			resize: none;
		}
	}


	// .form__submit
	&__submit {
		width: 100%;
		margin-top: 1.5rem;
	}

	// .form__checkbox
	&__checkbox {
		margin-top: 1rem;
	}



	// .form__field
	&__field {}


	// .form__btn
	&__btn {
		margin-top: 2.5rem;
		max-width: 19.625rem;
		width: 100%;
		margin-inline: auto;
	}

}

.checkbox {
	display: block;

	// .checkbox__input
	&__input {
		&:checked {
			&+.checkbox__content {
				&::before {
					@extend %ic, .icon-check;
				}
			}
		}

		&._error {
			&+.checkbox__content {
				&::before {
					border: 1px solid $red;
					background: #fff1ed;
				}
			}
		}
	}

	// .checkbox__content
	&__content {
		position: relative;
		display: block;
		color: #313542;
		padding-left: 2rem;
		font-size: 0.75rem;
		line-height: 120%;
		cursor: pointer;
		user-select: none;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			color: #806448;
			border: rem(1) solid rgba($color: #806448, $alpha: .40);
			width: 1rem;
			height: 1rem;
			font-size: 0.675rem;

		}

		& a {
			text-decoration: underline;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	gap: 1.5rem;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	padding: 0.75rem 2.25rem;
	border-radius: 1.25rem;

	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;

	&::before {
		order: 1;
		transition: all 0.3s ease;
	}

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) #000;
	}

	&.btn-primary {
		color: #fff;
		background: $accent;

		@media (any-hover: hover) {
			&:hover {
				background: #806448
			}
		}

		&:active {
			background: rgba($color: #432821, $alpha: .5)
		}

		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.5;
		}

	}

	&.btn-secondary {
		color: rgba($color: #432821, $alpha: .60);
		background: transparent;
		border: rem(1) solid rgba($color: #432821, $alpha: .60);

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background: $accent;
				border-color: $accent;
			}
		}

		&:active {
			background: rgba($color: #432821, $alpha: .5)
		}

		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.5;
		}


	}

	&.btn-sm {
		padding: 0.45rem 1rem;
		font-size: 0.75rem;

	}


	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		pointer-events: none;
	}

	&._loading {
		color: transparent !important;
		pointer-events: none;
		transition: none;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(20);
			height: rem(20);
			border: rem(3) solid var(--btn-text-color, #000);
			border-bottom-color: transparent;
			border-radius: 50%;
			transform-origin: center;
			animation: rotation 1s linear infinite;
			z-index: 3;
		}

		@keyframes rotation {
			0% {
				transform: translate(-50%, -50%) rotate(0deg);
			}

			100% {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
	}

}